body,
html {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 1400px;
    min-width: 320px;
    margin: auto;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 20px;

    >div {
        img {
            width: 32px;
        }

        margin: 0;
        // background: yellow;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}

.table-container {
    min-height: 300px;
    position: relative;
    overflow-x: scroll;
    width: 100%;
}

.pagination {
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 10px 0 10px 0;
    li {
        display: inline-block;
        background: darken(white, 5%);
        margin: 0 5px;

        &.active {
            a {
                background: darken(white, 8%);
            }
        }

        a {
            color: black;
            text-decoration: none;
            display: block;
            padding: 10px 15px;
        }
    }
}